<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="#">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js</title>
  <style>
    body {
      background-color: #123;
      color: white;
    }

    #app {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: start;
      gap: 1rem;
    }

    label {
      font-family: monospace;
    }

    #buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="buttons">
      <label for="width">width</label>
      <input type="number" id="width" v-model.lazy="buttonStyle.width">

      <label for="height">height</label>
      <input type="number" id="height" v-model="buttonStyle.height">

      <label for="fontSize">font-size</label>
      <input type="number" id="fontSize" v-model="buttonStyle.fontSize">

      <label for="fontFamily">font-family</label>
      <input type="text" id="fontFamily" v-model="buttonStyle.fontFamily">

      <label for="textAlign">text-align</label>
      <input type="text" id="textAlign" v-model="buttonStyle.textAlign">

      <label for="background">background</label>
      <input type="text" id="background" v-model="buttonStyle.background">

      <label for="color">color</label>
      <input type="text" id="color" v-model="buttonStyle.color">

      <label for="borderRadius">border-radius</label>
      <input type="number" id="borderRadius" v-model="buttonStyle.borderRadius">
    </div>

    <div>
      <button :style="insertButtonStyles">Botão</button>
    </div>
  </div>
</body>

<script src="js/vue.js"></script>
<script src="js/script.js"></script>

</html>