@import "./mixins";
@import "./variables";

.btn {
  text-align: center;
  display: block;
  width: 100%;
  padding: rem-calc(20) 0;
  border-radius: rem-calc(10);

  text-decoration: none;

  &.primary {
    color: $white;
    background: $secondary-color;
  }

  &.secondary {
    color: $white;
    background: $primary-color;
  }
}
