@import "./mixins.scss";

.categorias {
  margin: 5rem auto;
}

.cards {
  display: flex;
  gap: 1rem;
  margin: 0 2rem;
}

.card {
  position: relative;
  @include box-shadow1;
  flex: 1;

  .image {
    height: 170px;
    background-color: #a293ff;
  }

  span {
    padding: 10px 20px;
    background-color: white;
    color: $black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
