@import "./mixins.scss";

.wrapperContainer {
  border-bottom: 1px solid $black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  h1 {
    @include large-text;
    text-transform: uppercase;
  }
}

.nav,
.icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.detalhe {
  color: $blue;
}
