@import "./mixins.scss";

.home {
  color: rgb(255, 0, 0);
  background-color: blue;

  @include device(medium) {
    color: black;
    background-color: white;
  }

  @include device(small) {
    color: red;
    background-color: green;
  }
}
