@import "./mixins.scss";

.intro {
  display: grid;
  justify-content: center;
  gap: 3rem 0;
  margin: 5rem auto;
}

.intro h1 {
  font: 400 5rem/5rem $fontPrimary;
}

.searchBox {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  min-width: 430px;
  justify-self: center;

  svg {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    path {
      stroke: $black;
    }
  }

  input {
    min-height: 32px;
    border: 1px solid $black;
    @include box-shadow2;
    @include small-text;
    z-index: 1;
    padding: 0 12px;
    padding-left: 44px;
  }

  button {
    padding: 16px;
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
    @include box-shadow1;
  }
}

.faixaWrapper {
  background-color: $blue;
  @include large-text;
  position: relative;
  margin-top: 120px;
}

.faixaBg {
  content: "";
  width: calc(100vw - 30px);
  background-color: $blue;
  opacity: 0.5;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: rotate(3deg);
  display: inline-block;
}

.faixa {
  display: flex;
  gap: 3rem;
  overflow: hidden;
  justify-content: center;

  span {
    white-space: nowrap;
    color: $white;
  }

  span::before {
    position: relative;
    top: 8px;
    right: 20px;
  }

  span:nth-child(even)::before {
    content: url("../assets/Star.svg");
  }
  span:nth-child(odd)::before {
    content: url("../assets/Star2.svg");
  }
}
