@import "./mixins.scss";

.relevantNumbers {
  margin: 5rem auto;
}

.numbersList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  li {
    @include box-shadow2;
    border: 1px solid $black;
    padding: 1rem 2rem;

    h1 {
      font-size: 2rem;
    }

    span {
      font-size: 1rem;
    }
  }
}
