<app-poke-search (emmitSearch)="getSearch($event)"></app-poke-search>

<ng-template ngIf="pokemonList">
  <ul class="listagem">
    <li class="pokemon" *ngFor="let pokemon of filtredPokemonList">
      <a [routerLink]="['details', pokemon.id]">
        <section class="stats">
          <h2>{{ pokemon.name }}</h2>

          <ul *ngFor="let type of pokemon.types">
            <li>{{ type }}</li>
          </ul>
        </section>

        <section class="image">
          <img [src]="pokemon.img" [alt]="pokemon.name" />
        </section>
      </a>
    </li>
  </ul>
</ng-template>
