@import "./styles/mixins.scss";
@import "./styles/reset";
@import "./styles/variables";

html {
  background-color: $primary-color;
  color: $white;
}

main {
  width: rem-calc(600);
  margin: 0 auto;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}
