@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$fontPrimary: "Poppins";

$black: #212121;
$blue: #472cee;
$white: #fffcf6;
$purple: #a293ff;

$max-width: 1500px;
