<app-header></app-header>
<main class="pokemon">
  <ng-template [ngIf]="pokemon">
    <h1 class="name">{{ pokemon.name }}</h1>
    <section>
      <img [src]="pokemon.img" [alt]="pokemon.name" class="image" />
      <article class="info">
        <h2>Estatísticas</h2>
        <ul class="stats">
          <li *ngFor="let value of pokemon.stats">
            {{ value.name }}
            <strong>
              {{ value.base_stat }}
            </strong>
          </li>
        </ul>
        <a [routerLink]="['']" class="btn primary"> Voltar </a>
      </article>
    </section>
  </ng-template>
</main>
<app-erro *ngIf="erro"></app-erro>
