<div class="container" *ngIf="oferta; else carregando">
  <div class="oferta">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <ul class="thumbnails list-unstyled d-flex flex-wrap">
          <li *ngFor="let imagem of oferta.imagens">
            <img [src]="imagem.url" />
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{oferta.valor | currency}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs list-unstyled" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Como usar?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Onde fica?</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
          tabindex="0">
          <app-como-usar></app-como-usar>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <app-onde-fica></app-onde-fica>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #carregando>
  <div class="text-center">
    <h1>Carregando</h1>
  </div>
</ng-template>