<div class="container">

  <div class="seca">
    <h3 class="text-center">Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
  </div>

  <hr />

  <ul class="row unstyled-list  my-4">
    <li class="d-flex mt-4" *ngFor="let restaurante of restaurantes">
      <div class="col-md-4 me-3">
        <img [src]="restaurante.imagens[0].url" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{restaurante.titulo}}</h4>
        </div>

        <div class="row">
          <h5>{{restaurante.descricao_oferta}}</h5>
        </div>

        <div class="row">
          <p>Anunciado por: <b>{{restaurante.anunciante}}</b></p>
        </div>

        <div class="row">
          <p>R$ {{restaurante.valor}}</p>
        </div>

        <div class="row">
          <a [routerLink]="['/oferta', restaurante.id]" class="btn btn-outline-success">Ver oferta</a>
        </div>
      </div>
    </li>
  </ul>

  <hr />



</div>