<div class="container">

  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas para você se divertir quando quiser:</h5>
  </div>

  <hr />

  <ul class="row unstyled-list  my-4">
    <li class="d-flex mt-4" *ngFor="let diversao of diversoes">
      <div class="col-md-4 me-3">
        <img [src]="diversao.imagens[0].url" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{diversao.titulo}}</h4>
        </div>

        <div class="row">
          <h5>{{diversao.descricao_oferta}}</h5>
        </div>

        <div class="row">
          <p>Anunciado por: <b>{{diversao.anunciante}}</b></p>
        </div>

        <div class="row">
          <p>{{diversao.valor | currency}}</p>
        </div>

        <div class="row">
          <a [routerLink]="['/oferta', diversao.id]" class="btn btn-outline-success">Ver oferta</a>
        </div>
      </div>
    </li>
  </ul>

  <hr />

</div>